.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 100%;
  padding: 20px;

  & .status {
    inline-size: fit-content;
  }

  & .commentPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100%;
    color: var(--g-color-text-hint);
    overflow: auto;
  }

  & .actionsContainer {
    align-self: flex-end;
    margin-block-start: auto;
  }
}
