.FilesTab {
  display: flex;
  flex-direction: row;

  & .resizer {
    inline-size: 2px;
    box-shadow: -2px 0 5px 0 var(--g-color-line-generic-active);
    cursor: col-resize;

    &::after {
      content: ' ';
      display: flex;
      inline-size: 6px;
      block-size: 100%;
      margin-inline-start: -2px;
      background-color: var(--g-color-base-background);
      overflow: auto;
    }
  }
}
