.FilesTab {
  display: flex;
  flex-direction: row;

  & .placeholderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    block-size: 50vh;
  }
}
