.table {
  :global(.g-table__table) {
    inline-size: 100%;

    & .row {
      background-color: transparent;
      cursor: default;
    }

    & .interactive:hover {
      background-color: var(--g-color-base-simple-hover);
      cursor: pointer;
    }
  }
}
